
<div id="vertTabs" class="left ui-corner-all">
<div class="right" style="margin-right:15px;position:relative;z-index:100">
<a href="#" id="prev">prev</a>&nbsp;&nbsp;&nbsp;<a href="#" id="next">next</a>
</div>
<div id="divCycle">

  <div id="divFeatured" class="dash ui-corner-all">
                <div class="dashBody">
    <a class="left" href="<%= url_for :controller =>"celebs", :action => "profile", :name => @featured.screenName %>"><img width="130" height="145"  src="<%= bigger(@featured.profileImgUrl) %>" alt=""/></a>
<div style="margin-left : 200px"><b>Featured celeb of the day- </b> <br /><br /><br />
   <a style="font-size:20px" href="<%= url_for :controller =>"celebs", :action => "profile", :name => @featured.screenName %>">
    <%= @featured.name %>
  </a>
 <br /> <br /><br /><%= @featured.followers %> - followers
</div>

<div class="clr"></div>               
</div>   
</div>

  <div id="divFollowed" class="dash ui-corner-all" >

<div style="margin-left : 200px"><b>Celebs who are followed the most </b></div><br />
                <div class="dashBody">

<%  @followCelebs.each do |celeb| %>


   <div class="left mright">
    <a href="<%= url_for :controller =>"celebs", :action => "profile", :name => celeb.screenName %>"><img  src="<%= celeb.bigger %>" alt=""/></a>
    
    
    <br />
  <a href="<%= url_for :controller =>"celebs", :action => "profile", :name => celeb.screenName %>">
    <%= celeb.name %>
  </a><br />
     <%= celeb.followers %> 
</div>

  <% end %>
<div class="clr"></div>              
              </div>
                </div>
               
<div id="divTalkative" class="dash ui-corner-all">
<div style="margin-left : 200px"><b>Celebs who were replied the most today </b></div><br /> 
                  <div class="dashBody">
<%  @mentionCelebs[0..4].each do |celeb| %>
  <% unless celeb["celeb"].nil? %>

   <div class="left mright">

 <a href="<%= url_for :controller =>"celebs", :action => "profile", :name => celeb["celeb"]["screenName"] %>">
    <img  src="<%= bigger(celeb["celeb"]["profileImgUrl"]) %>" alt=""/>
</a>
<br />
   <a href="<%= url_for :controller =>"celebs", :action => "profile", :name => celeb["celeb"]["screenName"] %>">
  <%= celeb["celeb"]["name"] %>
</a><br />
    <%= celeb["tweets"].to_i %> - mentions

</div>
  <% end %>
  <% end %>
<div class="clr"></div>
            </div>
            </div>


<div id="divMentioned" class="dash ui-corner-all">

<div style="margin-left : 200px"><b>Celebs who shared the most tweets today  </b></div><br />
                <div class="dashBody">
     
<%  @talkCelebs[0..4].each do |celeb| %>

   <div class="left mright">
   <a href="<%= url_for :controller =>"celebs", :action => "profile", :name => celeb["celeb"]["screenName"] %>">
<img  src="<%= bigger(celeb["celeb"]["profileImgUrl"]) %>" alt=""/>
</a>
<br />
<a href="<%= url_for :controller =>"celebs", :action => "profile", :name => celeb["celeb"]["screenName"] %>">
  <%= celeb["celeb"]["name"] %>
</a><br />
<%= celeb["tweets"].to_i %> - tweets

</div>


  <% end %>
<div class="clr"></div>
                </div>
                </div>

                  
</div> 

</div>
<div class="right ui-corner-all">
  <span style="margin:5px 5px;font-weight:bold;">No of tweets over the last 6 days : </span> <br />
      <div id="divChartStats"></div>
      <input id="hdnweekstats"  type="hidden" value="<%= @weekstats.to_json %>"/>
      <input id="hdnfanweekstats"  type="hidden" value=""/>
</div>

<div class="clr"></div>
