 <div class="dash ui-corner-all" >
     <div id="divTalkative"></div>
      <div id="divLoved"></div>

                    <div class="dashHead ui-corner-top">
                    Most Followed
                  </div>
                  
                <div class="dashBody">
                          <table>
          <tbody>

<%  @followCelebs.each do |celeb| %>

            <tr>
              <td>

   <div class="left">
    <a href="<%= url_for :controller =>"celebs", :action => "profile", :name => celeb.screenName %>"><img width="32" height="32" src="<%= celeb.profileImgUrl %>" alt=""/></a>
    
    </div>
   </td>
   <td>
     <div><%= celeb.name %></div>
     <div><%= celeb.followers %> followers</div>
   </td>
   </tr>


  <% end %>
        </tbody>
        </table>
              
              </div>
                </div>
               
              </td>
              <td>
                 <div class="dash ui-corner-all">
                    <div class="dashHead ui-corner-top">Today's most mentioned</div>
                    
                  <div class="dashBody">
                                         <table>
                                          <tbody>
<%  @mentionCelebs[0..4].each do |celeb| %>
  <% unless celeb["celeb"].nil? %>
            <tr>
              <td>

   <div class="left">

 <a href="<%= url_for :controller =>"celebs", :action => "profile", :name => celeb["celeb"]["screenName"] %>">
    <img width="32" height="32" src="<%= celeb["celeb"]["profileImgUrl"] %>" alt=""/>
</a>
</div>
   </td>
   <td>
  <div>
   <a href="<%= url_for :controller =>"celebs", :action => "profile", :name => celeb["celeb"]["screenName"] %>">
  <%= celeb["celeb"]["name"] %>
</a>
</div>
     <div><%= celeb["tweets"].to_i %> Replies</div>
   </td>
   </tr>

  <% end %>
  <% end %>
        </tbody>
        </table>
              
            </div>
            </div>
            </td>
              <td>
                 <div class="dash ui-corner-all">
                    <div class="dashHead ui-corner-top">Today's most talkative</div>
                    
                <div class="dashBody">
                     <table>
          <tbody>

<%  @talkCelebs[0..4].each do |celeb| %>
            <tr>
              <td>

   <div class="left">
   <a href="<%= url_for :controller =>"celebs", :action => "profile", :name => celeb["celeb"]["screenName"] %>">
<img width="32" height="32" src="<%= celeb["celeb"]["profileImgUrl"] %>" alt=""/>
</a>
</div>
   </td>
   <td>
<a href="<%= url_for :controller =>"celebs", :action => "profile", :name => celeb["celeb"]["screenName"] %>">
  <div><%= celeb["celeb"]["name"] %>
</a>
</div>
     <div><%= celeb["tweets"].to_i %> tweets</div>
   </td>
   </tr>


  <% end %>
        </tbody>
      </table>
                </div>
                </div>
                

