<% require 'rails_autolink' %>
<%  tweets.each do |tweet|%>
<% unless tweet.celeb.nil? %>
<div class="divCeleb divTweet ui-corner-all">
  <div class="divImg">

    <a  href="<%= url_for :controller =>"celebs", :action => "profile", :name => tweet.celeb.screenName %>"><img width="32" height="32" src="<%= tweet.celeb.profileImgUrl %>" alt="<%= tweet.celeb.name %>"/></a></div>
  <div class="tweetBody ui-corner-all" style="margin-left:40px;">
    <div class="divName">
     <a href="<%= url_for :controller =>"celebs", :action => "profile", :name => tweet.celeb.screenName %>">
    <%= tweet.celeb.name %>
  </a>
</div>
<div><%= raw auto_link(tweet.link_twitter_user,:link =>:urls, :sanitize => false ,:html => { :target => '_blank' }) %></div>
<div class="divTime">Updated <span class="epoch"><%= tweet.time %></span><span class="ltime"></span></div>
<div style="height:15px">
    <div class="links right">
     <%=  link_to image_tag("follow.png",:alt =>'follow',:width =>'18') +" follow" , follow_tweets_path(:id => tweet.celeb.id),:remote=> true, :method => :post , :class=>'celeb_ajax' , :title => 'retweet','data-type' => 'json' %> 
          <%=  link_to image_tag("retweet.png",:alt =>'retweet',:width =>'18') + " retweet", retweet_tweets_path(:id => tweet.id),:remote=> true , :method => :post , :class=>'celeb_ajax', :title => 'retweet', 'data-type' => 'json' %> 
          <a onclick="openTweetDialog(this,<%=  tweet.celeb.id %>);" title="reply"><%=image_tag("reply.png",:alt =>'reply',:width =>'18')%> reply</a>
  </div>
<input type="hidden" class="screenName" value="<%=tweet.celeb.screenName%>" name=""/>
</div>

</div>
<div style="clear:both"></div>

</div>
<%end%>
<%  end %>
            <input class="hdnPath" type="hidden" value="<%= url %>" name="hiddenPath" />
<script type="text/javascript">
$(function(){
    showDate();
  });
</script>
