<% require 'rails_autolink' %>
<%  tweets.each do |tweet|%>
<% unless tweet.celeb.nil? %>
<div class="divCeleb divTweet ui-corner-all">
  <div class="divImg">

    <a target="_blank" href="<%= url_for :controller =>"celebs", :action => "profile", :name => tweet.celeb.screenName %>"><img width="32" height="32" src="<%= tweet.celeb.profileImgUrl %>" alt="<%= tweet.celeb.name %>"/></a></div>
  <div class="tweetBody ui-corner-all" style="margin-left:40px;">
    <div class="divName">
     <a target="_blank" href="<%= url_for :controller =>"celebs", :action => "profile", :name => tweet.celeb.screenName %>">
    <%= tweet.celeb.name %>
  </a>
</div>
<div><%= raw auto_link(tweet.link_twitter_user,:link =>:urls, :sanitize => false ,:html => { :target => '_blank' }) %></div>
<div class="divTime">Updated <span class="epoch"><%= tweet.time %></span></div>
<div style="height:15px">
    <div class="links">
      <table><tbody>
        <tr>
          <td><%=  link_to "Follow" , follow_tweets_path(:id => tweet.celeb.id),:remote=> true, :method => :post , :class=>'celeb_ajax' , 'data-type' => 'json' %> </td>
          <td><%=  link_to "Retweet" , retweet_tweets_path(:id => tweet.id),:remote=> true , :method => :post , :class=>'celeb_ajax',  'data-type' => 'json' %> </td>
          <td><a onclick="openTweetDialog(this,<%=  tweet.celeb.id %>);">Reply</a> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
<div style="clear:both"></div>

</div>
<%end%>
<%  end %>
<script type="text/javascript">
  $(function(){
    path='<%= url %>';
    showDate();
  });
</script>