

<li><b><%= letter.upcase %></b>
    <ul>
 
<% celebs.each do |celeb| %>
      <li>
 
<div style="cursor: pointer" onclick="showCeleb('<%=  celeb_path(celeb) %>',<%=  celeb.id %>,'<%=  celeb.name %>');"><%= celeb.screenName%></div>
  </li>
  <% end %>
</ul>
</li>

