<%= javascript_include_tag "list" %>
<%title 'Celebrity search page at tweetflick.in'%>
<%set_meta( :keywords => "twitter celebrities , twitter fans, celeb tweets, celebrity tweets,bollywood tweets,tollywood tweets,tolly  tweets,bolly tweets,bolly pics,tolly pictures,bolly pictures,tolly pictures , celebrity analytics , fan discussions, indian movie stars , movie stars on twitter , bollywood social media" , :description => " Search for your favourite celeb at tweetflick.in")%>

<div style="width:120px;margin-top:60px" class="left">
<b>Filter by tags : </b> <br /> <br />
<%@tags.each do |tag| %>
  <%unless tag.to_s.empty? %>
    <div class="tags"><%=  tag.to_s %></div>
    <% end %>
    <% end %>
    <a id="clearTags" style="cursor:pointer;color:#369" class="right">Clear All</a>
</div>
<div class="left" style="width:670px;border:1px solid #ddd;">
 <%= render :partial => 'shared/social' %>
<br /><br />     &nbsp;Quick Search &nbsp; <input type="" id="inpSearch" value="" name="Search" /><br /><br />
      <%  @alphaCelebs.each do |celeb| %>
        <%  tagClass = celeb.tags.join("_tag ") + "_tag" %>
          <div class="<%= tagClass %> left listCeleb" align="left">
          <%= link_to image_tag(celeb.profileImgUrl, :width => '32',:height => '32') ,profile_path(:name => celeb.screenName) %>
          <%= link_to celeb.name ,profile_path(:name => celeb.screenName) %>
        </div>
      
      <% end %>
  </div>
<div class="right">
  <%= render :partial => "shared/googleadsense" %>
</div>
<div class="clr"></div>
