  <%= javascript_include_tag "celebs" %>
    <%ogtitle "#{@celeb.name}'s home page -TweetFlick.in" %>
  <%title @celeb.title_page %>
    <%ogimage @celeb.profileImgUrl %>
 <%set_meta( :keywords => @celeb.keywords,:description => @celeb.description)%>
  <%=  render :partial => "tweets/list" %>
   <div id="divTabs">
<div class="divProfile">
    

  <div class="profile_divImg">
<a href="<%= url_for :controller =>"celebs", :action => "profile", :name => @celeb.screenName %>">      
<img src="<%= @celeb.large %>" width="120"/> 
</a>
</div>

    <div class="profile_profile-content">
      <h2 class="divName">
<a href="<%= url_for :controller =>"celebs", :action => "profile", :name => @celeb.screenName %>">      
<%= @celeb.name %>
</a> &nbsp;
<%if @celeb.isVerified==1 %>
<%=image_tag "verified.png" %>
<%end%>
</h2>
<div style="margin:2px"><span style="color:#2F7A26;">Location : </span><%= @celeb.location %></div><br />
      <div><span style="color:#2F7A26;">Tags: </span>
    <%@celeb.tags.each do |tag| %>
        <i><%=  tag.to_s %></i>
        <% end %>
      
      </div> <br />
 <div "padding:3px">
Followers : <span style="color:blue"><%= @celeb.followers %> </span>  &nbsp;&nbsp;
Friends :<span style="color:blue"><%= @celeb.friends %> </span>    &nbsp;&nbsp;
Statuses : <span style="color:blue"><%= @celeb.statuses %> </span>   &nbsp;&nbsp;
    </div><br /><br />
<div> <span style="color:red"><%=@celeb.tweets.today %></span> - tweets today !  &nbsp;&nbsp;    
<span style="color:red"> <%= FanTweet.todayby(@celeb.screenName) %></span>  mentions today !
</div>
    <div class="clr"></div>
      </div>
      <div style="clear:both"></div>
    
  <div class="left column1">
<%unless @tweets.empty? %>
    <%=  render :partial => "celebs/feed", :locals =>{ :tweets =>  @tweets ,:url=> feed_celebs_path(@celeb,:time => @tweets.to_a.last.time)} %>
<%else%>
<div style="width:100%;margin:0 auto">
No tweets on this date.
</div>
<%end%>
            </div>
          <div class="left column3">
            <%=  render :partial => "shared/fb" %>
            <div>
              <input id="hdnImages" type="hidden" value="<%=  @imageStr.to_json %>" />
          <ul class="ulGallery jcarousel-skin-tango">
           
          </ul>
          
          </div>
  <div class="left column2">
    
    <div>
      
      <% unless @fantweets.nil? || @fantweets.empty? %>
      <span style="color:#2F7A26;font-weight:bold"> Recent Fan Replies :</span>  <br />
      <ul class="divScrollable jcarousel-skin-fan">
        <%=  render :partial => "tweets/fanfeed", :locals =>{ :tweets =>  @fantweets ,:url=> fanfeed_tweets_path(:time => @fantweets.to_a.last.time) } %>
      </ul>
      <% end %>
    </div>
        <input class="hdnLtstTime" value="<%= Time.now.to_i * 1000 %>" type="hidden" name="" />
            <input class="hdnprofile" value="<%= @celeb.id %>" type="hidden" name="" />
  </div>
     <div  class ="right">
       <%= render :partial => "shared/googleadsense" %>
    </div>
  <div class="clr"></div>
  
</div>
  <div class="clr"></div>
</div>
</div>
