  <%= javascript_include_tag "celebs" %>
   <div id="divTabs">
<div class="divProfile">
    

  <div class="divImg"><img src="<%= @celeb.profileImgUrl %>" alt=""/> </div>
    
    <div class="profile-content">
      <div class="divName"><%= @celeb.name %></div>
      <div><span style="color:#2F7A26;">Tags:
    <%@celeb.tags.each do |tag| %>
        <i><%=  tag.to_s %></i>
        <% end %>
      </span>
      </div>
      </div>
      <div style="clear:both"></div>
    
  <div class="left column1">
    <%=  render :partial => "celebs/feed", :locals =>{ :tweets =>  @tweets ,:url=> feed_celebs_path(@celeb,:time => @tweets.to_a.last.time)} %>
            </div>
          <div class="left column3">
            <div>
              <input id="hdnImages" type="hidden" value="<%=  @imageStr.to_json %>" />
          <ul class="ulGallery jcarousel-skin-tango">
           
          </ul>
          
          </div>
  <div class="left column2">
    <div style="color:#000;padding:10px" class="ui-corner-all">
      <span style="color:red"><%=@celeb.tweets.today %></span> total tweets today !  <br /> <br />
      <span style="color:red"> <%= FanTweet.todayby(@celeb.screenName) %></span> total mentions today !<br />
    </div>
    <div>
      
      <% unless @fantweets.nil? || @fantweets.empty? %>
      <span style="color:#2F7A26;font-weight:bold"> Recent Fan Replies :</span>  <br />
      <ul class="divScrollable jcarousel-skin-fan">
        <%=  render :partial => "tweets/fanfeed", :locals =>{ :tweets =>  @fantweets ,:url=> fanfeed_tweets_path(:time => @fantweets.to_a.last.time) } %>
      </ul>
      <% end %>
    </div>
  </div>
     <div  class ="right">
       <%= render :partial => "shared/googleadsense" %>
    </div>
  <div class="clr"></div>
</div>
  <div class="clr"></div>
</div>
</div>