<style type="text/css">
/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
</style>


    <div id="fixedTags" class="ui-corner-all">
    
  <div class="right">
      <a href="#" id="closefixedTag"> <%=image_tag "delete_icon.png"%></a>
  </div>
<div class="clr"></div>

  <div>Please select tags to filter list-
</div>
    
<%@tags.each do |tag| %>
<%unless tag.to_s.empty? %>
<div class="tags"><%=  tag.to_s %></div>
<% end %>
        <% end %>

<div style="clear:both"></div>
 </div>
<div id="divLeft" class="ui-corner-right">
<div class="scrollbar ui-corner-all">
  <div class="track ui-corner-all">
    <div class="thumb ui-corner-all">
      <div class="end ui-corner-top"></div>
    </div></div></div>
		<div class="viewport">
                  <div class="overview">
                      <div>
                         Search <input type="" id="inpSearch" value="" name="Search" />
                      </div>
                      <div class="right">
                          <a href="#" id="toggleTags">Filter by tags</a>
                      </div>
    <strong>Celebs</strong>
    <div>
      <ul class="tree">
     <%  @alphaCelebs.each do |celeb| %>
        <%  tagClass = celeb.tags.join("_tag ") + "_tag" %>
      <li>
        <div class="<%= tagClass %> alphaCeleb" style="cursor: pointer" onclick="showCeleb('<%=  celeb_path(celeb) %>',<%=  celeb.id %>,'<%=  celeb.name %>');"><%= celeb.name %></div>
  </li>
  <% end %>
        </ul>
</div>
    <strong>Celebs</strong>
    <div>
      <ul class="tree">
     <%  @alphaCelebs.each do |celeb| %>
        <%  tagClass = celeb.tags.join("_tag ") + "_tag" %>
      <li>
        <div class="<%= tagClass %> alphaCeleb" style="cursor: pointer" onclick="showCeleb('<%=  celeb_path(celeb) %>',<%=  celeb.id %>,'<%=  celeb.name %>');"><%= celeb.name %></div>
  </li>
  <% end %>
        </ul>
</div>
<strong>Celebs</strong>
    <div>
      <ul class="tree">
     <%  @alphaCelebs.each do |celeb| %>
        <%  tagClass = celeb.tags.join("_tag ") + "_tag" %>
      <li>
        <div class="<%= tagClass %> alphaCeleb" style="cursor: pointer" onclick="showCeleb('<%=  celeb_path(celeb) %>',<%=  celeb.id %>,'<%=  celeb.name %>');"><%= celeb.name %></div>
  </li>
  <% end %>
        </ul>
</div>
</div>
                  </div>
</div>
  
  

<div id="divDashBoard">
  <table cellspacing="10px">
      <tbody>
          <tr>
              <td>
                
                <div class="dash ui-corner-all" >
                    <div class="dashHead ui-corner-top">
                    Most Followed
                  </div>
                  
                <div class="dashBody">
               <%= render :partial => "celebs/dash", :locals =>{:celebs =>  @followCelebs } %>
              </div>
                </div>
               
              </td>
              <td>
                 <div class="dash ui-corner-all">
                    <div class="dashHead ui-corner-top">Most Mentioned</div>
                    
                  <div class="dashBody">
                  
            <%= render :partial => "celebs/dash", :locals =>{:celebs =>  @mentionCelebs } %>
            </div>
            </div>
            </td>
              <td>
                 <div class="dash ui-corner-all">
                    <div class="dashHead ui-corner-top">MostTalkative</div>
                    
                <div class="dashBody">
                <%= render :partial => "celebs/dash", :locals =>{:celebs =>  @talkCelebs } %>
                </div>
                </div>
              </td>
          </tr>
          
      </tbody>
  </table>
  

</div>


  <div id="divContent">
    
   <div id="divTabs">
        <ul>
          <li><a href="#divFeed">Feed </a></li>
        </ul>
        <div id="divFeed">
          <div class="left column1">
            <%=  render :partial => "celebs/feed", :locals =>{ :tweets =>  @tweets ,:url=> feed_tweets_path(:time => @tweets.to_a.last.time) } %>
            </div>
          <div class="left column2">
  <div style="border:1px dotted green;color:#000;padding:10px" class="ui-corner-all">
    <span style="color:red"> Tweets : </span><%=Tweet.today %> <br /> <br />
    <span style="color:red">    Fan Tweets :</span> <%= FanTweet.today %> <br />
</div>
  <div style="margin-top:10px">
    <span style="color:#2F7A26;font-weight:bold"> Recent fan replies to all celebs :</span>  <br />
  <%=  render :partial => "tweets/fanfeed", :locals =>{ :tweets =>  @fantweets ,:url=> fanfeed_tweets_path(:time => @fantweets.to_a.last.time) } %>
</div>
            </div>
            <div class="clr"></div>
            
        </div>
   </div>
  <div  class="divColumn column2">
     
      <div id="divTalkative"></div>
      <div id="divLoved"></div>

    </div>
    <div  class="divColumn column3"></div>

  </div>

  <div style="clear:both"></div>
  <div id="dialog-tweet" title="Reply">
	<p class="validateTips">Reply.</p>
<form>
	<fieldset>
		<label for="tweet">Tweet</label>
                <textarea  name="tweet" id="tweet" class="text ui-corner-all" ></textarea>

	</fieldset>
	</form>
	
</div>