
  <%= javascript_include_tag "home" %>

    <div id="fixedTags" class="ui-corner-all">
    
  <div class="right">
      <a href="#" id="closefixedTag"> <%=image_tag "delete_icon.png"%></a>
  </div>
<div class="clr"></div>

  <div>Please select tags to filter list-
</div>
    
<%@tags.each do |tag| %>
<%unless tag.to_s.empty? %>
<div class="tags"><%=  tag.to_s %></div>
<% end %>
        <% end %>

<div style="clear:both"></div>
 </div>
<div id="divLeft" class="ui-corner-right">
<div class="scrollbar ui-corner-all">
  <div class="track ui-corner-all">
    <div class="thumb ui-corner-all">
      <div class="end ui-corner-top"></div>
    </div></div></div>
		<div class="viewport">
                  <div class="overview">
                      <div>
                         Search <input type="" id="inpSearch" value="" name="Search" />
                      </div>
                      <div class="right">
                          <a href="#" id="toggleTags">Filter by tags</a>
                        </div>
      <div style="margin-top:20px">
      <ul class="tree">
     <%  @alphaCelebs.each do |celeb| %>
        <%  tagClass = celeb.tags.join("_tag ") + "_tag" %>
      <li>
        <div class="<%= tagClass %> alphaCeleb" style="cursor: pointer" onclick="showCeleb('<%=  celeb_path(celeb) %>',<%=  celeb.id %>,'<%=  celeb.name %>');"><%= celeb.name %></div>
  </li>
  <% end %>
        </ul>
      </div>
    
</div>
                  </div>
</div>
    
  

<div id="divDashBoard">
    
               <%= render :partial => "celebs/dash" %>
      
        
        <div class="clr"></div>
        
                
        
  

</div>


  <div id="divContent">
    
   <div id="divTabs">
    <div  class ="gadsense">
            <%= render :partial => "shared/googleadsense" %>
        </div>
        <ul>
          <li><a href="#divFeed">Feed </a></li>
        </ul>
        <div id="divFeed">
          <div class="left column1">
            <%=  render :partial => "celebs/feed", :locals =>{ :tweets =>  @tweets ,:url=> feed_tweets_path(:time => @tweets.to_a.last.time) } %>
            </div>
          <div class="left column3">
            <div>
              <input id="hdnImages" type="hidden" value="<%=  @imageStr.to_json %>" />
          <ul class="ulGallery jcarousel-skin-tango">
           
          </ul>
          
          </div>
            <div class="left column2">
            
                  <div style="padding:10px" class="ui-corner-all">
                    <span style="color:red"><%=Tweet.today %></span> total tweets from celebs today !  <br /> <br />
                    <span style="color:red"> <%= FanTweet.today %></span> total celeb mentions today !<br />
                  </div>
                  <div>
                    <span style="color:#2F7A26;font-weight:bold"> Recent fan replies to all celebs :</span>  <br />
                    <ul class="divScrollable jcarousel-skin-fan">
                    <%=  render :partial => "tweets/fanfeed", :locals =>{ :tweets =>  @fantweets ,:url=> fanfeed_tweets_path(:time => @fantweets.to_a.first.time) } %>
                  </ul>
                    </div>
                        <input class="hdnLtstTime" value="<%= Time.now.to_i * 1000 %>" type="hidden" name="" />
          </div>
<input class="hdnLtstTime" value="<%= Time.now.to_i * 1000 %>" type="hidden" name="" />
        </div>
            <div class="clr"></div>
            
        </div>
      </div>

  </div>

  <div style="clear:both"></div>
  <div id="dialog-tweet" title="Reply">
	<p class="validateTips">Reply.</p>
<form>
	<fieldset>
		<label for="tweet">Tweet</label>
                <textarea  name="tweet" id="tweet" class="text ui-corner-all" ></textarea>

	</fieldset>
	</form>
	
</div>