<%= javascript_include_tag "home" %>
<%ogtitle "Tweetflick.in -Home page"%>
<%set_meta( :keywords => "twitter celebrities , twitter fans, celeb tweets, celebrity tweets,bollywood tweets,tollywood tweets,tolly  tweets,bolly tweets,bolly pics,tolly pictures,bolly pictures,tolly pictures , celebrity analytics , fan discussions, indian movie stars , movie stars on twitter , bollywood social media" , :description => " Real time Twitter feed, Analytics of Indian movie celebrities on Twitter. Follow , retweet, reply, see their discussions , view image gallery , comment on them and lot more.")%>



<div id="divDashBoard">
<%= render :partial => "celebs/dash" %>
<div class="clr"></div>
</div>
<%= render :partial => 'shared/social' %>

<div id="divContent">

<div id="divTabs">
  <div  class ="gadsense">
  <%= render :partial => "shared/googleadsense" %>
</div>
<div id="divFeed">
<b style="float:left">Recent Tweets:</b> 
  <div class="clr left column1">
<%unless @tweets.empty? %>
  <%=  render :partial => "celebs/feed", :locals =>{ :tweets =>  @tweets ,:url=> feed_tweets_path(:time => @tweets.to_a.last.time) } %>
<%else%>
<div style="width:100%;margin:0 auto">
No tweets on this date.
</div>
<%end%>
</div>
<div class="left column3">
  <div>
<b>Recent images :</b> <br />
  <input id="hdnImages" type="hidden" value="<%=  @imageStr.to_json %>" />
  <ul class="ulGallery jcarousel-skin-tango">

</ul>

</div>
<div class="left column2">

<div style="padding:10px" class="ui-corner-all">
<span style="color:red"><%=Tweet.today %></span> total tweets from celebs today !  <br /> <br />
<span style="color:red"> <%= FanTweet.today %></span> total celeb mentions today !<br />
</div>
<div>
<% unless @fantweets.nil? || @fantweets.empty? %>
<span style="color:#000;font-weight:bold"> Recent fan replies to all celebs :</span>  <br />
<ul class="divScrollable jcarousel-skin-fan">
<%=  render :partial => "tweets/fanfeed", :locals =>{ :tweets =>  @fantweets ,:url=> fanfeed_tweets_path(:time => @fantweets.to_a.first.time) } %>
</ul>
      <% end %>
</div>
<%=  render :partial => "shared/fb" %>


</div>
<input class="hdnLtstTime" value="<%= Time.now.to_i * 1000 %>" type="hidden" name="" />
</div>
<div class="clr"></div>

</div>
</div>

</div>

<div style="clear:both"></div>

