  <%= javascript_include_tag "interact" %>

<h3>Celeb - Celeb Interactions </h3>
<%  @celebdiscs.each do |disc|%>
<div style="border:1px dotted #DDD;padding:5px;margin:5px 0">
<div class="left" style="margin-left: 10px;">
    <div class="left">
       <a href="<%= url_for :controller =>"celebs", :action => "profile", :name => disc.atweet.celeb.screenName %>"><img width="32"     height="32" src="<%= disc.atweet.celeb.profileImgUrl %>" alt=""/></a>
    </div>
<div style="margin-left:35px">
  <a href="<%= url_for :controller =>"celebs", :action => "profile", :name => disc.atweet.celeb.screenName %>">
    <%= disc.atweet.celeb.name %>
  </a>
</div>
<div class="clr"> </div>
</div>
<div class="right" style="margin-right: 10px;">
<div class="left">
    <a href="<%= url_for :controller =>"celebs", :action => "profile", :name => disc.btweet.celeb.screenName %>"><img width="32" height="32" src="<%= disc.btweet.celeb.profileImgUrl %>" alt=""/></a>
    
    </div>
<div style="margin-left:35px">
  <a href="<%= url_for :controller =>"celebs", :action => "profile", :name => disc.btweet.celeb.screenName %>">
    <%= disc.btweet.celeb.name %>
  </a>
</div>
<div class="clr"></div>
</div>
<div class="clr">
</div>
<%= render :partial => "interaction",:locals => {:disc => disc } %>
</div>

<%end%>
