<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "Tweetflick - Indian movie celebrities at one place" %></title>
  <%= display_meta(:keywords => " twitter celebrities , twitter fans, celeb tweets, celebrity tweets,bollywood tweets,tollywood tweets,tolly  tweets,bolly tweets,bolly pics,tolly pictures,bolly pictures,tolly pictures , celebrity analytics , fan discussions, indian movie stars , movie stars on twitter , bollywood social media") %>
  
  <meta property="og:site_name" content="Tweetflick.in"/>
  <meta property="og:title" content="<%= yield(:ogtitle) %>"/>
  <meta property="og:url" content="<%= request.url %>"/>
  <meta property="og:image" content="<%= yield(:ogimage) %>">
  <meta property="fb:app_id" content="162610627152827">
  
  <%= stylesheet_link_tag    "application" %>
  <!--
Jquery UI
<%= stylesheet_link_tag    "jquery-ui-1.8.15.custom" %>
<%= javascript_include_tag "jquery-ui-1.8.15.custom.min" %> -->
<link rel="shortcut icon"  type="image/x-icon" href="/favicon.ico" />  
  <%= javascript_include_tag "application" %>
  
  <%= javascript_include_tag "pretty" %>
  <%= javascript_include_tag "bannerRotator" %>
<!--  <%= javascript_include_tag "jquery.tinyscrollbar.min" %>-->
  <%= javascript_include_tag "jquery.jcarousel.min" %>
  <%= javascript_include_tag "jquery.jqplot.min" %>
  <!--[if lt IE 9]>  <%= javascript_include_tag "excanvas.min" %><![endif]-->
  <%= javascript_include_tag "plugins/jqplot.categoryAxisRenderer.min" %>
  <%= javascript_include_tag "plugins/jqplot.pointLabels.min" %>
  
  <%= stylesheet_link_tag    "tango/skin.css" %>
  <%= stylesheet_link_tag    "fan/skin.css" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="loading" align="center">
    <%=  image_tag "loading.gif" %>
  </div>
    <div id="header">
      
      
      <div id="divMessage" class="clearBoth" align="center">
        <div class="edit">
          <div id="message" class="message">
            
          </div>
          <div class="hideMessage">
            <a class="close" onclick="hideMessage();">
              <%=image_tag "delete_icon.png"%>
            </a>
          </div>
        </div>
        
      </div>
      
      
      
    </div>
  <div id="wrap">

    <div id="content">
<div id="innerHeader">
        <span id="logo">
         <a href="<%= root_url %>"> 
        <%=image_tag "logo.png",:height => '70' %>
        </a>
        </span>
<div id="divSearch">

<input id="inpSrch" style="width:100%" value="" name="" /> <br >
<div id="searchResults"></div>
</div>
     <ul id="menu">  
  <li> <a href="<%= root_url %>">Home </a></li>
 <li> <a href="/celebs/list">All Celebs </a></li>
 <li> <a href="/home/about">About</a></li>
</ul> 

        <div id="divLogin">
          <%= render 'shared/navigation' %>
        </div>
        <div style="clear:both"></div>
      </div>
      

<div id="inner" class="ui-corner-all">
      <%= yield %>
</div>
    </div>
  </div>

<a id="suggest" href="#"></a>
<%= render :partial => "shared/dialog" %>
    <% if Rails.env.production? %>
    <%= render :partial => "shared/googleanalytics" %>
    <%end%>
  
  
</body>
</html>
