<!DOCTYPE html>
<html>
<head>
  <title>Tweetflick</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "jquery-ui-1.8.15.custom" %>
   
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui-1.8.15.custom.min" %>
  <%= javascript_include_tag "pretty" %>
  <%= javascript_include_tag "jquery.tinyscrollbar.min" %>

  <%= csrf_meta_tags %>
  
</head>
<body>
  <div id="loading" align="center">
    <%=  image_tag "loading.gif" %>
    </div>
  <div id="wrap" class="ui-corner-all">
<div id="header">
            <div id="innerHeader">
                <span id="logo">
                  <h2>TweetFlick</h2>
                </span>
       
<div id="divLogin">
    <%= render 'shared/navigation' %>
  </div>
  <div style="clear:both"></div>
            </div>


  <div id="divMessage" class="clearBoth" align="center">
        <div class="edit">
        <div id="message" class="message">
       
        </div>
        <div class="hideMessage">
            <a class="close" onclick="hideMessage();">
               <%=image_tag "close_icon.png"%>
            </a>
            </div>
        </div>

    </div>
 


        </div>
    <div id="content">
<%= yield %>
</div>
  </div>
</body>
</html>
